.content-header {
    padding: 16px;
    height: 100px;
    background: #3f1052;
    color: #fff;
    justify-content: space-between;
    a {
        color: #fff;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}
